@{
    Layout = "_Layout1";

}

@section Custom
{
 <link rel="stylesheet" href="~/css/customerDashboard.css">

}



 

    <h1>Welcome <span> @ViewBag.Name </span></h1>

    <section class="main_service clearfix">

        <!-- tab -->

       
        <div class="tab" id="verticaltab">


            <button class="tablinks" onclick="upcoming_service(event, 'dashboard')" id="dashboardTabBtn">Dashboard</button>


            <button class="tablinks" onclick="upcoming_service(event, 'service_history')" id="serviceHistroyTabBtn">
                
                
                Service
                History
            
            
            </button>
            <button class="tablinks" onclick="upcoming_service(event, 'service_schedule')"id="serviceScheduleTabBtn">
                
                
                Service
                Schedule
            
            
            </button>

            <button class="tablinks" onclick="upcoming_service(event, 'favourite_pros')" id="favouriteProsTabBtn"> Favourite Pros </button>
            <button class="tablinks" onclick="upcoming_service(event, 'invoices')" id="invoiceTabBtn">Invoices</button>
            <button class="tablinks" onclick="upcoming_service(event, 'notification')" id="notificationTabBtn"> Notifications</button>


        </div>

        <!-- table -->



        <div id="dashboard" class="tab-contant">
            <h3>-----------------Dashboard-----------------</h3>
        </div>
        <div id="service_schedule" class="tab-contant">
            <h3>-----------------Service Schedule-----------------</h3>
        </div>
        <div id="service_history" class="tab-contant">
            <div class="clearfix">
                <div>
                    <p class="alignleft"> Service History </p>
                    <button class="alignright">Export</button>
                </div>
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th scope="col"> Service Details <img src="~/image/sort.png" alt="..."></th>
                            <th scope="col"> Service Provider <img src="~/image/sort.png" alt="..."></th>
                            <th scope="col"> Payment <img src="~/image/sort.png" alt="..."></th>
                            <th scope="col"> Status <img src="~/image/sort.png" alt="..."></th>
                            <th scope="col"> Rate SP </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Service Details">
                                <div> <img src="~/image/calendar.png" alt="calender"> 31/03/2018</div>
                                <p class="service-time">12:00-18:00</p>

                            </td>
                            <td data-label="Service Provider" class="clearfix">
                                <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>4
                                </div>
                            </td>
                            <td data-label="Payment">
                                <p class="price">€63 </p>
                            </td>
                            <td data-label="Status"> <button class="completed">completed</button></td>
                            <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                        </tr>
                        <tr>
                            <td data-label="Service Details">
                                <div> <img src="~/image/calendar.png" alt="calender"> 15/03/2018</div>
                                <p class="service-time">12:00-18:00</p>

                            </td>
                            <td data-label="Service Provider" class="clearfix">
                                <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>4
                                </div>
                            </td>
                            <td data-label="Payment">
                                <p class="price">€63 </p>
                            </td>
                            <td data-label="Status"> <button class="completed">completed</button></td>
                            <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                        </tr>
                        <tr>
                            <td data-label="Service Details">
                                <div> <img src="~/image/calendar.png" alt="calender"> 10/03/2018</div>
                                <p class="service-time">12:00-18:00</p>

                            </td>
                            <td data-label="Service Provider" class="clearfix">
                                <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>4
                                </div>
                            </td>
                            <td data-label="Payment">
                                <p class="price">€63 </p>
                            </td>
                            <td data-label="Status"> <button class="completed">completed</button></td>
                            <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                        </tr>
                        <tr>
                            <td data-label="Service Details">
                                <div> <img src="~/image/calendar.png" alt="calender"> 28/02/2018</div>
                                <p class="service-time">12:00-18:00</p>

                            </td>
                            <td data-label="Service Provider" class="clearfix">
                                <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>4
                                </div>
                            </td>
                            <td data-label="Payment">
                                <p class="price">€63 </p>
                            </td>
                            <td data-label="Status"> <button class="cancelled">cancelled</button></td>
                            <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                        </tr>
                        <tr>
                            <td data-label="Service Details">
                                <div> <img src="~/image/calendar.png" alt="calender"> 15/02/2018</div>
                                <p class="service-time">12:00-18:00</p>

                            </td>
                            <td data-label="Service Provider" class="clearfix">
                                <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>4
                                </div>
                            </td>
                            <td data-label="Payment">
                                <p class="price">€63 </p>
                            </td>
                            <td data-label="Status"> <button class="completed">completed</button></td>
                            <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                        </tr>
                        <tr>
                            <td data-label="Service Details">
                                <div> <img src="~/image/calendar.png" alt="calender"> 11/02/2018</div>
                                <p class="service-time">12:00-18:00</p>

                            </td>
                            <td data-label="Service Provider" class="clearfix">
                                <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>4
                                </div>
                            </td>
                            <td data-label="Payment">
                                <p class="price">€63 </p>
                            </td>
                            <td data-label="Status"> <button class="cancelled">cancelled</button></td>
                            <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                        </tr>
                        <tr>
                            <td data-label="Service Details">
                                <div> <img src="~/image/calendar.png" alt="calender"> 31/01/2018</div>
                                <p class="service-time">12:00-18:00</p>

                            </td>
                            <td data-label="Service Provider" class="clearfix">
                                <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>4
                                </div>
                            </td>
                            <td data-label="Payment">
                                <p class="price">€63 </p>
                            </td>
                            <td data-label="Status"> <button class="completed">completed</button></td>
                            <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                        </tr>
                        <tr>
                            <td data-label="Service Details">
                                <div> <img src="~/image/calendar.png" alt="calender"> 19/01/2018</div>
                                <p class="service-time">12:00-18:00</p>

                            </td>
                            <td data-label="Service Provider" class="clearfix">
                                <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>4
                                </div>
                            </td>
                            <td data-label="Payment">
                                <p class="price">€63 </p>
                            </td>
                            <td data-label="Status"> <button class="completed">completed</button></td>
                            <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                        </tr>
                        <tr>
                            <td data-label="Service Details">
                                <div> <img src="~/image/calendar.png" alt="calender"> 05/01/2018</div>
                                <p class="service-time">12:00-18:00</p>

                            </td>
                            <td data-label="Service Provider" class="clearfix">
                                <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>4
                                </div>
                            </td>
                            <td data-label="Payment">
                                <p class="price">€63 </p>
                            </td>
                            <td data-label="Status"> <button class="cancelled">cancelled</button></td>
                            <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                        </tr>
                        <tr>
                            <td data-label="Service Details">
                                <div> <img src="~/image/calendar.png" alt="calender"> 01/01/2018</div>
                                <p class="service-time">12:00-18:00</p>

                            </td>
                            <td data-label="Service Provider" class="clearfix">
                                <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>4
                                </div>
                            </td>
                            <td data-label="Payment">
                                <p class="price">€63 </p>
                            </td>
                            <td data-label="Status"> <button class="cancelled">cancelled</button></td>
                            <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                        </tr>
                    </tbody>
                </table>

                <div class="card mobileview clearfix" style="width: 100%;">
                    <div class="card-body">
                        <span>
                            
                            
                            <img src="~/image/calendar.png" alt="calender"><span class="date">31/03/2018</span>
                            12:00-18:00
                        
                        
                        </span>
                        <hr>
                        <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                        <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span>4</span>
                        </div>
                        <hr>
                        <p class="price">€63 </p>
                        <hr>
                        <div class="text-center"><button class="completed">completed</button></div>
                        <hr>
                        <div class="text-center"><button class="rate">Rate SP</button></div>
                    </div>
                    <div class="card-body">
                        <span>
                            
                            
                            <img src="~/image/calendar.png" alt="calender"><span class="date">15/03/2018</span>
                            12:00-18:00
                        
                        
                        </span>
                        <hr>
                        <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                        <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span>3</span>
                        </div>
                        <hr>
                        <p class="price">€63 </p>
                        <hr>
                        <div class="text-center"><button class="cancelled">cancelled</button></div>
                        <hr>
                        <div class="text-center"><button class="rate">Rate SP</button></div>
                    </div>
                    <div class="card-body">
                        <span>
                            
                            
                            <img src="~/image/calendar.png" alt="calender"><span class="date">10/03/2018</span>
                            12:00-18:00
                        
                        
                        </span>
                        <hr>
                        <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                        <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span>4</span>
                        </div>
                        <hr>
                        <p class="price">€63 </p>
                        <hr>
                        <div class="text-center"><button class="completed">completed</button></div>
                        <hr>
                        <div class="text-center"><button class="rate">Rate SP</button></div>
                    </div>
                    <div class="card-body">
                        <span>
                            
                            
                            <img src="~/image/calendar.png" alt="calender"><span class="date">28/02/2018</span>
                            12:00-18:00
                        
                        
                        </span>
                        <hr>
                        <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                        <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span>4</span>
                        </div>
                        <hr>
                        <p class="price">€63 </p>
                        <hr>
                        <div class="text-center"><button class="completed">completed</button></div>
                        <hr>
                        <div class="text-center"><button class="rate">Rate SP</button></div>
                    </div>
                </div>
            </div>

            <div class="pagenum">
                <div class="pagenum-left">
                    <p>Show</p>
                    <div class="pagenum-drop">
                        10
                    </div>
                    <p>entries</p>
                    <p style="margin-left: 8px;">Total Record: 55</p>
                </div>
                <div class="pagenum-right">
                    <div class="pagenum-btn">
                        <img src="~/image/first-page.png" alt="">
                    </div>
                    <div class="pagenum-btn">
                        <img src="~/image/keyboard-right-arrow-button-copy.png" alt="">
                    </div>
                    <div class="pagenum-btn active">
                        1
                    </div>
                    <div class="pagenum-btn">
                        2
                    </div>
                    <div class="pagenum-btn">
                        3
                    </div>
                    <div class="pagenum-btn">
                        4
                    </div>
                    <div class="pagenum-btn">
                        <img class="transform_btn" src="~/image/keyboard-right-arrow-button-copy.png" alt="">
                    </div>
                    <div class="pagenum-btn">
                        <img class="transform_btn" src="~/image/first-page.png" alt="">
                    </div>
                </div>
            </div>

        </div>


        <div id="favourite_pros" class="tab-contant">
            <h3>---------------New Service Request--------------</h3>

        </div>

        <div id="invoices" class="tab-contant">
            <h3>---------------Invoice--------------</h3>
        </div>

        <div id="notification" class="tab-contant">
            <h3>-----------------Block Customers-----------------</h3>
        </div>
    </section>







    <!--footer-->




    <!-- script -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/customerDashboard.js"></script>


