@{
    Layout = "_Layout1";

}
<section class="welcome">


        <h1>Welcome, <b>@ViewBag.Name</b> </h1>
    </section>

    <section class="main_service clearfix">
        <div class="hamburger">
            <span class="v-bar"></span>
            <span class="v-bar"></span>
            <span class="v-bar"></span>

        </div>
        <div class="tab">
            <button class="tablinks" onclick="upcoming_service(event, 'dashboard')">Dashboard</button>
            <button class="tablinks" onclick="upcoming_service(event, 'service_history')" id="defaultOpen">Service History</button>
            <button class="tablinks" onclick="upcoming_service(event, 'service_schedule')">Service Schedule</button>
            <button class="tablinks" onclick="upcoming_service(event, 'favourite_pros')">Favourite Pros</button>
            <button class="tablinks" onclick="upcoming_service(event, 'invoices')">invoices</button>
            <button class="tablinks" onclick="upcoming_service(event, 'notifications')">Notifications</button>

        </div>
        </div>

        <div id="dashboard" class="tabcontent">
            <h3>Dashboard</h3>
        </div>
        <div id="service_history" class="tabcontent">
            <div>
                <p class="alignleft"> <b> Service History</b></p>
                <button class="alignright">Export</button>
            </div>
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th scope="col"> <b>Service Details </b> <img src="~/image/sort.png" alt="..."></th>
                        <th scope="col"> <b>Service Provider</b> <img src="~/image/sort.png" alt="..."></th>
                        <th scope="col"> <b>Payment</b> <img src="~/image/sort.png" alt="..."></th>
                        <th scope="col"> <b>Status</b> <img src="~/image/sort.png" alt="..."></th>
                        <th scope="col"> <b>Rate SP</b> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Service Details">
                            <img src="~/image/calendar.png" alt="calender"> <b>31/03/2018</b>
                            <p>12:00-18:00</p>

                        </td>
                        <td data-label="Service Provider" class="clearfix">
                            <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span>4</span></div>
                        </td>
                        <td data-label="Payment">
                            <p class="price">€63 </p>
                        </td>
                        <td data-label="Status"> <button class="completed">completed</button></td>
                        <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                    </tr>
                    <tr>
                        <td data-label="Service Details">
                            <img src="~/image/calendar.png" alt="calender"> <b>31/03/2018</b>
                            <p>12:00-18:00</p>

                        </td>
                        <td data-label="Service Provider" class="clearfix">
                            <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span>4</span></div>
                        </td>
                        <td data-label="Payment">
                            <p class="price">€63 </p>
                        </td>
                        <td data-label="Status"> <button class="completed">completed</button></td>
                        <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                    </tr>
                    <tr>
                        <td data-label="Service Details">
                            <img src="~/image/calendar.png" alt="calender"> <b>31/03/2018</b>
                            <p>12:00-18:00</p>

                        </td>
                        <td data-label="Service Provider" class="clearfix">
                            <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span>4</span></div>
                        </td>
                        <td data-label="Payment">
                            <p class="price">€63 </p>
                        </td>
                        <td data-label="Status"> <button class="completed">completed</button></td>
                        <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                    </tr>
                    <tr>
                        <td data-label="Service Details">
                            <img src="~/image/calendar.png" alt="calender"> <b>31/03/2018</b>
                            <p>12:00-18:00</p>

                        </td>
                        <td data-label="Service Provider" class="clearfix">
                            <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span>4</span></div>
                        </td>
                        <td data-label="Payment">
                            <p class="price">€63 </p>
                        </td>
                        <td data-label="Status"> <button class="cancelled">cancelled</button></td>
                        <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                    </tr>
                    <tr>
                        <td data-label="Service Details">
                            <img src="~/image/calendar.png" alt="calender"> <b>31/03/2018</b>
                            <p>12:00-18:00</p>

                        </td>
                        <td data-label="Service Provider" class="clearfix">
                            <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span>4</span></div>
                        </td>
                        <td data-label="Payment">
                            <p class="price">€63 </p>
                        </td>
                        <td data-label="Status"> <button class="completed">completed</button></td>
                        <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                    </tr>
                    <tr>
                        <td data-label="Service Details">
                            <img src="~/image/calendar.png" alt="calender"> <b>31/03/2018</b>
                            <p>12:00-18:00</p>

                        </td>
                        <td data-label="Service Provider" class="clearfix">
                            <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span>4</span></div>
                        </td>
                        <td data-label="Payment">
                            <p class="price">€63 </p>
                        </td>
                        <td data-label="Status"> <button class="cancelled">cancelled</button></td>
                        <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                    </tr>
                    <tr>
                        <td data-label="Service Details">
                            <img src="~/image/calendar.png" alt="calender"> <b>31/03/2018</b>
                            <p>12:00-18:00</p>

                        </td>
                        <td data-label="Service Provider" class="clearfix">
                            <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span>4</span></div>
                        </td>
                        <td data-label="Payment">
                            <p class="price">€63 </p>
                        </td>
                        <td data-label="Status"> <button class="completed">completed</button></td>
                        <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                    </tr>
                    <tr>
                        <td data-label="Service Details">
                            <img src="~/image/calendar.png" alt="calender"> <b>31/03/2018</b>
                            <p>12:00-18:00</p>

                        </td>
                        <td data-label="Service Provider" class="clearfix">
                            <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span>4</span></div>
                        </td>
                        <td data-label="Payment">
                            <p class="price">€63 </p>
                        </td>
                        <td data-label="Status"> <button class="completed">completed</button></td>
                        <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                    </tr>
                    <tr>
                        <td data-label="Service Details">
                            <img src="~/image/calendar.png" alt="calender"> <b>31/03/2018</b>
                            <p>12:00-18:00</p>

                        </td>
                        <td data-label="Service Provider" class="clearfix">
                            <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span>4</span></div>
                        </td>
                        <td data-label="Payment">
                            <p class="price">€63 </p>
                        </td>
                        <td data-label="Status"> <button class="cancelled">cancelled</button></td>
                        <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                    </tr>
                    <tr>
                        <td data-label="Service Details">
                            <img src="~/image/calendar.png" alt="calender"> <b>31/03/2018</b>
                            <p>12:00-18:00</p>

                        </td>
                        <td data-label="Service Provider" class="clearfix">
                            <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span>4</span></div>
                        </td>
                        <td data-label="Payment">
                            <p class="price">€63 </p>
                        </td>
                        <td data-label="Status"> <button class="cancelled">cancelled</button></td>
                        <td data-label="Rate SP"><button class="rate">Rate SP</button></td>
                    </tr>
                </tbody>
            </table>

            <div class="card mobileview clearfix" style="width: 100%;">
                <div class="card-body">
                    <span><img src="~/image/calendar.png" alt="calender"><span class="date">31/03/2018</span> 12:00-18:00</span>
                    <hr>
                    <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span>4</span></div>
                    <hr>
                    <p class="price">€63 </p>
                    <hr>
                    <div class="text-center"><button class="completed">completed</button></div>
                    <hr>
                    <div class="text-center"><button class="rate">Rate SP</button></div>
                </div>
                <div class="card-body">
                    <span><img src="~/image/calendar.png" alt="calender"><span class="date">31/03/2018</span> 12:00-18:00</span>
                    <hr>
                    <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span>4</span></div>
                    <hr>
                    <p class="price">€63 </p>
                    <hr>
                    <div class="text-center"><button class="cancelled">cancelled</button></div>
                    <hr>
                    <div class="text-center"><button class="rate">Rate SP</button></div>
                </div>
                <div class="card-body">
                    <span><img src="~/image/calendar.png" alt="calender"><span class="date">31/03/2018</span> 12:00-18:00</span>
                    <hr>
                    <div class="cap-icon"><img src="~/image/cap.png" alt=".."></div>Lyum Watson
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span>4</span></div>
                    <hr>
                    <p class="price">€63 </p>
                    <hr>
                    <div class="text-center"><button class="completed">completed</button></div>
                    <hr>
                    <div class="text-center"><button class="rate">Rate SP</button></div>
                </div>


        </div>
    
        <div id="service_schedule" class="tabcontent">
            <h3>Service Schedule</h3>
        </div>
        <div id="favourite_pros" class="tabcontent">
            <h3>Favourite Pros</h3>
        </div>
        <div id="invoices" class="tabcontent">
            <h3>Invoices</h3>
        </div>
        <div id="notifications" class="tabcontent">
            <h3>Notifications</h3>
        </div>
    </section>


