@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.faq-navbar {
    background: #525252 0% 0% no-repeat padding-box;
    opacity: 0.8;
}


.faq-navbar-brand {
    top: 6px;
    left: 15px;
    width: 73px;
    height: 54px;
}

.faq-nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 3px;
    text-decoration: none;
}


.faq-nav-link-border {
    background: #29626D;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
    text-decoration: none;
    margin: 3px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    color: #646464;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}



.title {
    color: #4F4F4F;
    opacity: 1;
    font-weight: 500;
    font-size: 36px;
    margin-top: 31px;
}

.image-seprator {
    max-height: 60px;
    margin-bottom: 30px;
}

.tab button {
    margin: 0;
    background-color: #F3F3F3;
    color: #646464;
    padding: 24px 10px;
    width: 24%;
    border: 1px solid #F3F3F3;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

    .tab button.active {
        background-color: #1D7A8C;
        color: #FFFFFF;
    }

h2 {
    font-size: 18px;
    font-weight: 700;
    color: #4F4F4F;
    padding-top: 20px;
    padding-bottom: 10px;
}

.schedule hr {
    margin-top: 30px;
}

.schedule .extra_services p {
    color: #646464;
    font-size: 16px;
}

.schedule .comments {
    font-size: 16px;
    font-weight: 700;
    color: #4F4F4F;
}

.schedule .form-check label {
    font-size: 16px;
    color: #4F4F4F;
}

.schedule .btn {
    display: inline-block;
    text-decoration: none;
    width: 108px;
    height: 108px;
    line-height: 90px;
    border-radius: 50%;
    border: solid 1px#B0C9CE;
}

.schedule .continue {
    padding: 6px 18px 6px 18px;
    border: 1px solid #1D7A8C;
    border-radius: 23px;
    background-color: #1D7A8C;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    float: right;
    margin-bottom: 10px;
}

#addNewaddressDiv {
    display: none;
    background-color: beige;
}

.make_payment h2 {
    font-size: 18px;
    font-weight: 700;
    color: #4F4F4F;
    padding-top: 20px;
    padding-bottom: 10px;
}

.radiobutton {
    border: 1px solid #4F4F4F;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
}

.add_address {
    border: 2px solid #1D7A8C;
    color: #1D7A8C;
    border-radius: 23px;
}

.save {
    color: #FFFFFF;
    background-color: #1D7A8C;
    border-radius: 23px;
}

.cancel {
    color: #9BA0A3;
    border: 1px solid #9BA0A3;
    border-radius: 23px;
    margin: 10px;
}

.address_form {
    border: 1px solid #9BA0A3;
    padding: 15px;
    margin: 10px;
    background-color: #ebf2f3;
}

.apply-btn {
    padding: 20px, 5px;
    background: #00607200 0% 0% no-repeat padding-box;
    border: 1px solid #2f6a71;
    border-radius: 20px;
    opacity: 1;
    width: 100px;
    height: 35px;
    margin-left: 20px;
}

.continue {
    padding: 6px 18px 6px 18px;
    border: 1px solid #1D7A8C;
    border-radius: 23px;
    background-color: #1D7A8C;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    float:right;
}

.make_payment continue {
    padding: 6px 18px 6px 18px;
    border: 1px solid #1D7A8C;
    border-radius: 23px;
    background-color: #1D7A8C;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    float: right;
    margin-bottom: 10px;
}

.card .card-header {
    padding: 21px;
    color: #FFFFFF;
    background-color: #1D7A8C;
    font-size: 18px;
}

.card .card-body h3 {
    color: #646464;
    font-size: 18px;
    font-weight: 700;
}

.card .card-body p {
    color: #4F4F4F;
    font-size: 16px;
}

.card .card-body .total_time {
    font-weight: 700;
}

.card .card-body .price {
    color: #646464;
    font-weight: 700;
}

.card .card-body .total_payment {
    color: #1D7A8C;
    font-size: 20px;
}

.card .card-body .total_price {
    color: #1D7A8C;
    font-size: 42px;
    font-weight: 700;
}

.card .card-body .effective_price {
    font-weight: 700;
    font-size: 20px;
    color: #646464;
}

.card .card-body .saving {
    font-size: 14px;
    color: #646464;
}

.card .card-footer {
    font-size: 14px;
    color: #8D8D8D;
}

.our-news-letter {
    padding-bottom: 55px;
}

.suggestion h3 {
    color: #4F4F4F;
    font-size: 20px;
    font-weight: 700;
    padding-top: 26px;
}

.suggestion .large-content {
    font-size: 14px;
    font-weight: 700;
    color: #646464;
    text-align: left;
    letter-spacing: 0px;
}

.suggestion .small-content {
    font-size: 16px;
    color: #646464;
    text-align: left;
    letter-spacing: 0px;
}

.suggestion .que {
    border-bottom: 1px solid #646464;
    padding: 5px;
}

    .suggestion .que a {
        text-decoration: none;
    }

.suggestion .more a {
    text-decoration: none;
    color: #1D7A8C;
    font-weight: 700;
    font-size: 16px;
}



.submit {
    background-color: #FF7B6D;
    font-size: 14px;
    line-height: 37px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
    width: 88px;
    transition: 0.3s all;
}


.contact-row {
    margin-top: 3%;
    padding-bottom: 2%;
}

.contact-col-top {
    text-align: center;
}

.contact-col-email {
    text-align: center;
}

.contact-col-faq {
    text-align: center;
}

.contact-text {
    font-family: 'Roboto', sans-serif;
    font-size: 17.99px;
    font-weight: bold;
}

.contact-email-col {
    text-align: right;
}

.contact-submit-col {
    text-align: left;
}


.contact-col-top-image {
    max-height: 48px;
}

.contact-col-faq-image {
    max-height: 63px;
}

.contact-email-textbox {
    background: #F4F5F8 0% 0% no-repeat padding-box;
    border: 1px solid #565656;
    border-radius: 20px;
}

.contact-submit-button {
    background: #FF7B6D 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    color: white;
    border-color: #FF7B6D;
}


.hidden {
    display: none;
}

p.hidden {
    margin: 0%;
}
.extratime {
    float: right;
}


:checked + label.btn {
    border: 3px solid #1d7a8c !important;
}

label.btn:before {
    background-color: #1d7a8c;
    transform: scale(1);
}

label.btn img {
    transform: scale(0.9);
    z-index: -1;
}

.Validation-Error{
    font-size:10px;
    color: red;
}




.footer-container {
    background-color: black;
}

.footer-logo-col {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer-nav-col {
    text-align: center;
    margin-top: 3%;
}

.footer-nav-link {
    color: white;
    font-size: 13.99;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-right: 2%;
}

.footer-social-col {
    text-align: center;
    margin-top: 3%;
}

.footer-social-image {
    margin-right: 2%;
}



.footer-logo-image {
    max-height: 92px;
}
