@model helperland1._0.Models.LoginUser
<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--Custome Css-->
   
    @RenderSection("Custom",required:false)


    <link rel="stylesheet" href="~/css/navbar.css">


    <!--JS-->
    <script src="~/js/faq.js"></script>





    <title>@ViewBag.title</title>
</head>
<body>

    <!--nav bar-->
    @* <nav class="navbar faq-navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
        <a class="navbar-brand faq-navbar-brand" href="#">
        <img src="~/image/logo-small.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav faq-navbar-nav ms-auto">

        <a class="nav-link faq-nav-link faq-nav-link-border" asp-controller="Customer" asp-action="BookService">Book now</a>
        <a class=" nav-link faq-nav-link  faq-nav-link-border" asp-controller="Public" asp-action="price">Prices & services</a>
        <a class="nav-link faq-nav-link  ">Warrenty</a>
        <a class="nav-link faq-nav-link ">Blog</a>
        <a class=" nav-link faq-nav-link " asp-controller="Public" asp-action="contactus">Contact</a>
        <a class="nav-link faq-nav-link  faq-nav-link-border"  asp-controller="Public" asp-action="Index" asp-route-loginModal="true">Login</a>
        <a class="nav-link faq-nav-link  faq-nav-link-border" asp-controller="UserManagement" asp-action="BecomeAProvider">Become a Helper</a>
        <a class="nav-link faq-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="image\ic-flag.png">
        </a>
        </div>
        </div>
        </div>
        </nav>*@
    @await Html.PartialAsync("navbar")


    @RenderBody()

    <!--footer starts-->



   @** <div class="row contact-row">


        <div class="col contact-col-email">
            <p class="contact-text">
                GET OUR NEWSLETTER
            </p>

            <div class="row ">
                <div class="col-sm-7 contact-email-col">
                    <input class="contact-email-textbox" placeholder="  YOUR EMAIL">
                </div>
                <div class="col-sm-4 contact-submit-col">
                    <button class="contact-submit-button">submit</button>

                </div>

            </div>



        </div>



    </div>*@

    <section class="our-news-letter">
		<div class="container text-center">
			<h2>GET OUR NEWSLETTER</h2>
			<div class="form-row d-flex justify-content-center align-items-center">
				<div class="form-group">
					<label for="email" style="display: none;">YOUR EMAIL</label>
					<input type="text" placeholder="YOUR EMAIL" id="email" class="form-control">
				</div>
				<div class="btn-wrapper">
					<button class="submit">Submit</button>
				</div>
			</div>
		</div>
	</section>

    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-sm-3 footer-logo-col">
                <img src="~/image/footer-logo.png" class="img-fluid footer-logo-image">


            </div>
            <div class="col-sm-6 footer-nav-col">

                <a class="footer-nav-link" asp-controller="Public" asp-action="Index">HOME</a>
                <a class="footer-nav-link  " asp-controller="Public" asp-action="about">ABOUT</a>
                <a class="footer-nav-link ">TESTIMONIALS</a>
                <a class="footer-nav-link " asp-controller="Public" asp-action="faq">FAQ</a>
                <a class="footer-nav-link ">INSURANCE</a>
                <a class="footer-nav-link ">IMPRESSUM</a>




            </div>
            <div class="col-sm-3 footer-social-col">

                <img src="~/image/ic-facebook.png" class="img-fluid footer-social-image">
                <img src="~/image/ic-instagram.png" class="img-fluid footer-social-image">

                <hr>





            </div>
        </div>

        <hr style="color: white; margin: 0% 5% 1% 5%">
        <div>
            <p class="faq-privacy-text">
                ©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy
            </p>
        </div>
        <br>

        <!--footer ends-->
        <!-- Optional JavaScript; choose one of the two! -->
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

    </div>



</body>
</html>
