@model helperland1._0.Models.UserAddress;	
<form id="form3">
		   <div id="at3" class="tabcontent">
                     
                    <div id="address">
                   
                    <div class="radiobutton">
                        <input type="radio" id="address1" name="address" value="1" />
                        <label for="address1"><span>ADDRESS:</span><span>xyx</span> <br />
							<span>PHONE NUMBER:</span> <span>9898989898</span></label>
                    </div>
                    <div class="radiobutton">
                        <input type="radio" id="address2" name="address" value="2" />
                        <label for="address2"><span>ADDRESS:</span><span>abc</span> <br />
							<span>PHONE NUMBER:</span> <span>9898989898</span></label>
                    </div>

                     </div>
                    <button type="button" class="btn add_address" id="addAddressBtn" onclick="addAddressdiv()">+ Add New
						Address</button>
                   

                <div id="addNewaddressDiv" class="container-fluid">

                    <form   asp-action="" asp-controller="Customer" class="address_form">
                        <div class="row mb-3">
                            <div class="col-md-6 col-sm-12">
                                <label for="streetname" class="form-label">Street name</label>
                                <input asp-for="AddressLine1"     type="text" class="form-control street" name="streetname" placeholder="Street name"  />
                                 <div class="street-msg"></div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="housenumber" class="form-label">House number</label>
                                <input  asp-for="AddressLine2"  type="text" class="form-control houseno " name="housenumber" placeholder="House number" />
                                 <div class="houseno-msg"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 col-sm-12">
                                <label for="postalcode" class="form-label">Postal Code</label>
                                <input  asp-for="PostalCode"  id="addAddressPostalCode" type="text" class="form-control" name="postalcode" placeholder="Postal Code" />
                                 
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="city" class="form-label">City</label>
                                <input asp-for="City" type="text" class="form-control" name="city" placeholder="City" />
                                 <span asp-validation-for="City" class="formwarning"></span>

                                  

                            </div>
                             
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 col-sm-12">
                                <label for="phonenumber" class="form-label">Phone number</label>
                                <div class="input-group">
                                    <div class="input-group-text">+49</div>
                                    <input  asp-for="Mobile"  type="text" maxlength="10" class="form-control mobile" name="phonenumber" placeholder="Mobile Number" />
                                     <div class="mobile-msg"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="state" class="form-label">State</label>
                                <input asp-for="State" type="text" class="form-control" name="state" placeholder="State" />
                                 <span asp-validation-for="State" class="formwarning"></span>

                                  

                            </div>
                        </div>



                        <div>
                            <button id="addAddressSubmit" type="button" class="btn save" onclick='saveAddress()'>Save</button>
                            <button id="addressCancelBtn" type="reset" class="btn cancel" onclick='cancelAddress()'>Cancel</button>
                        </div>
                    </form>
            </div>
            <hr />
            <br /><br />
            <button class="continue" type="button" onclick="Clickable('form4Btn');ClickFunction('form4Btn')">
						Continue
					</button>

           </div>
                 

 </form>
           
                