
				<div id="at4" class="tabcontent make_payment">
					<h2>Pay Secuerly with Helperland Payment Gateway! </h2>
					<label>Promo code (Optional)</label>
					<br>
					<br>
					<row>

						<input placeholder="Promo code (Optional)">
						<button type="submit" class="apply-btn">apply</button>
					</row>
					<hr>
					<input type="checkbox"> I accepted terms and conditions, the cancellation policy and the privacy
					policy. I confirm that Helperland starts to execute the contract before the expiry of the withdrawal
					period and I lose my right of withdrawal as a consumer with full performance of the contract.
					<hr>
					<button class="continue" type="submit">
						Complete Booking
					</button>
				</div>