@model helperland1._0.ViewModel.PostalCode;
<form id="form1">
				<div id="at1" class="tabcontent">
					<h2>Enter Your Postal code</h2>
					<row>

						<input type="text" asp-for="postalcode"  id="postalcode" placeholder="Enter Your Postal code">
						 <span asp-validation-for="postalcode" class="formwarning"></span>

						<button type="button" class="continue" onclick="postalSubmit()" >Check Availability</button>
					</row>
				</div>
</form>