<form id="form4">
				<div id="at4" class="tabcontent make_payment">
					<h2>Pay Secuerly with Helperland Payment Gateway! </h2>
					<label>Promo code (Optional)</label>
					<br>
					<br>
					<row>

						<input placeholder="Promo code (Optional)">
						<button type="submit" class="apply-btn">apply</button>
					</row>
					<hr>
					<input type="checkbox"> I accepted terms and conditions, the cancellation policy and the privacy
					policy. I confirm that Helperland starts to execute the contract before the expiry of the withdrawal
					period and I lose my right of withdrawal as a consumer with full performance of the contract.
					<hr>
					<button class="continue" type="button" onclick="completeBookService()">
						Complete Booking
					</button>
				</div>
</form>


 <button type="button" class="btn btn-primary d-none" id="complete" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
	<div class="modal-content">
	  <div class="modal-header">

		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </div>
	  <div class="modal-body">
			  <h4 class="modal-title" id="ModalLabel_SID"></h4>
			  <h5 id="Model_SID"></h5>
	  </div>
	  
	</div>
  </div>
</div>