<div id="ServiceSchedule" class="tab-contant">

    <div class="ScheduleServiceLabels">
        <div class="ScheduleLabel">
            <div class="GrayLabel"></div><div>Upcoming</div>
        </div>
        <div class="ScheduleLabel">
            <div class="GreenLabel"></div><div>completed</div>
        </div>
    </div>

    <div id='calendar'></div>

</div>