@{ViewBag.title="About";}


   

 
@section Custom
{
 <link rel="stylesheet" href="~/css/style.css">



}




    

    <!--image-->
    <img src="~/image/hero-banner-img.png" class="img-fluid faq-image">
    <!--image-->

    <!--Content-->


    <br><br>
    <div class="cotainer-fluid about-content-container">
        <div class="faq-content-title">
            <p class="faq-content-title-text">
                A Few words about us
            </p>
            <img src="~/image/faq-seprator.PNG" class="img-fluid faq-content-seprator">

            <p class="about-content-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis
                vestibulum vel risus
                condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus.
                Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin
                tincidunt vel erat id porttitor.
                Donec tristique est arcu, sed dignissim velit vulputate ultricies.
                <br><br> Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst.
                Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper
                ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci,
                vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus
                lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis.
                Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue,
                posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula
                placerat lorem.
            </p>
        </div>

        <br><br>


        <div class="faq-content-title">
            <p class="faq-content-title-text">
                Our Story
            </p>
            <img src="~/image/faq-seprator.PNG" class="img-fluid faq-content-seprator">

            <p class="about-content-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis
                vestibulum vel risus
                condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Vivamus
                quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt
                vel erat id
                porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.<br><br>
                Interdum et malesuada fames ac ante
                ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod
                volutpat sed
                sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit.<br><br>
                Aenean ut rhoncus orci,
                vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus
                lobortis.
                In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus.
                Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac,
                vehicula placerat lorem.
            </p>
        </div>



        

    </div>


    <!--content ends-->

   
