@model helperland1._0.Models.ContactU


@section Custom
{
 <link rel="stylesheet" href="~/css/style.css">



}
  


  <!--image-->
  <img src="~/image/group-16_2.png" class="img-fluid faq-image">
  <!--image ends-->



  <!--contact us section starts-->

  <div class="container-fluid contact-contactus-container">
    <br>
    <div class="price-content-title">
      <p class="price-content-title-text">
        Contact us
      </p>
      <img src="~/image/faq-seprator.PNG" class="img-fluid price-content-seprator">


    </div>
    <br>

    <div class="row contact-contactus-card-container">

      <div class="col contact-contactus-card">
        <img src="~/image/forma-1_2.png" class="img-fluid">
        <br><br>
        <p>
          1111 Lorem ipsum text 100, Lorem ipsum AB
        </p>

      </div>
      <div class="col contact-contactus-card">

        <img src="~/image/phone-call.png" class="img-fluid">
        <br><br>
        <p>
          +49 (40) 123 56 7890
          <br>
          +49 (40) 123 56 7890
        </p>

      </div>
      <div class="col contact-contactus-card">

        <img src="~/image/vector-smart-object.png" class="img-fluid" style="margin-bottom: 5.5%">
        <br><br>
        <p>
          info@helperland.com
        </p>

      </div>

       


    </div>




  </div>

  <hr class="contact-hr">


  <!--contact us section ends-->

  <!--contact form -->

  <p class="contact-form-title">
    Get in touch with us

  </p>


  <div class="container-fluid  contact-form-container">


    <form asp-action="Contactus" asp-controller="Public" enctype="multipart/form-data">
      <div class="row">
        <div class=" col-sm-6">
          <input asp-for="Name" type="text"  class="form-control" placeholder="First name">
           <span asp-validation-for="Name" class="formwarning"></span>
        </div>
        <div class=" col-sm-6">
          <input asp-for="LastName" type="text" class="form-control" placeholder="Last name">
           <span asp-validation-for="LastName" class="formwarning"></span>
        </div>
      </div>
      <br>

      <div class="row">
        <div class=" col-sm-6">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">+45</span>
            </div>
            <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Mobile number">
             <span asp-validation-for="PhoneNumber" class="formwarning"></span>
          </div>

        </div>
        <div class="col-sm-6">
          <input asp-for="Email" type="text" class="form-control" placeholder="Email address">
           <span asp-validation-for="Email" class="formwarning"></span>
        </div>
      </div>

      <select asp-for="Subject" class="form-select" aria-label="Default select example">
        <option value="General" selected >General</option>
        <option value="Inquiry"> Inquiry</option>
        <option value="Renewal">Renewal</option>
        <option value="Revocation">Revocation</option>

       
        
      </select>
     <br>

      <div class="form-group">
       
        <textarea asp-for="Message" class="form-control" id="exampleFormControlTextarea1" rows="3"  placeholder="Message"></textarea>
      </div>
      <br />
      
      <input  class="form-control" type="file" asp-for="Attach">
      <br />
       <Button type="submit" class="nav-link faq-nav-link  faq-nav-link-border mx-auto" style="padding: 1% 20% 1% 20%">Submit</Button>

    </form>

  </div> <br><br>



  

 




  <!--contact form ends-->

<div class="container-fluid contact-map-container">
  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.6486143372485!2d12.479087715306713!3d41.900413479220326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f6052f9220517%3A0xbd59532d8d9552be!2sVia%20del%20Corso%2C%20226%2C%2000187%20Roma%20RM%2C%20Italy!5e0!3m2!1sen!2sin!4v1638549286265!5m2!1sen!2sin" title="YouTube video"
    width="100%" height="400px"></iframe>
    
  

</div>






  