@{
    ViewBag.title = "Home";
    Layout = null;
}





<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--Custome Css-->

    <link rel="stylesheet" href="~/css/style.css" />
    <style>
        div.notification {
            border-right: 1px solid #e1e1e1;
            border-left: 1px solid #e1e1e1;
            padding: 5px 25px 0 16px;
            max-width: 70px;
        }

            div.notification span {
                background-color: #ff1616;
                top: -7px;
                right: 11px;
            }

        .dropdown {
            border: none;
        }

    </style>

    <!--fonts-->
    <script src="js\faq.js"></script>



    <title>@ViewBag.title</title>


</head>
<body>
    <div class="container-fluid  header-container">



        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid">
                <a class="home-navbar-brand navbar-brand" href="#">
                    <img src="~/image/logo-large.png" alt="logo">
                </a>

                @if (ViewBag.Name != null)
                {
                    <div class=" mb-5 notification position-relative nav-item order-lg-3 ">

                        <img src="~/image/icon-notification.png" alt="">
                        <span class="badge rounded-circle position-absolute">2</span>
                    </div>





                    <div class="mb-5 nav-item dropdown nav-padding order-lg-4 d-lg-block d-none " id="upcomingUser">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/image/user.png" alt="">
                        </a>
                        <ul class="dropdown-menu dropdown dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li id="userWelcomeName">
                                Welcome,
                                <br />
                                <span id="UsernameNav">@ViewBag.Name</span>
                            </li>
                            @if (ViewBag.UserType == 0)
                            {
                                <li><a asp-controller="Customer" asp-action="CustomerDashboard" class="dropdown-item">My Dashbord</a></li>
                                <li><a class="dropdown-item" asp-controller="Customer" asp-action="CustomerDashboard" asp-route-Tablinks="SettingsTabBtn">My Setting</a></li>

                            }
                            @if (ViewBag.UserType == 1)
                            {
                                <li><a asp-controller="ServiceProvider" asp-action="SPServiceRequest" class="dropdown-item">My Dashbord</a></li>
                                <li><a class="dropdown-item" asp-controller="ServiceProvider" asp-action="SPServiceRequest" asp-route-Tablinks="SettingsTabBtn">My Setting</a></li>

                            }
                            <li><a class="dropdown-item" asp-controller="UserManagement" asp-action="Logout">Logout</a></li>
                        </ul>
                    </div>
                }


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav home-navbar-nav ms-auto">

                        <a class="nav-link home-nav-link nav-link-book-a-cleaner" asp-controller="Customer" asp-action="BookService">Book a Cleaner</a>
                        <a class=" nav-link home-nav-link " asp-controller="Public" asp-action="Price"> Prices</a>
                        <a class="nav-link home-nav-link ">Our Guarantee</a>
                        <a class="nav-link home-nav-link ">Blog</a>
                        <a class="nav-link home-nav-link " asp-controller="Public" asp-action="Contactus">Contact us</a>
                        @if (ViewBag.Name == null)
                        {
                            <a class="nav-link home-nav-link  nav-link-login" id="login-nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a>
                            <a class="nav-link home-nav-link  nav-link-become-a-helper" asp-controller="UserManagement" asp-action="BecomeAProvider">Become a Helper</a>
                            <a class="nav-link home-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/image/flag.png">
                            </a>
                        }
                        <a class="dropdown-item d-none" id="logoutBtn" data-bs-toggle="modal" data-bs-target="#logoutModel">Logout</a>



                    </div>
                </div>
            </div>
        </nav>



        <div class="row header-text-container">
            <div class="col  align-self-start">
                <div>
                    <p class="header-title">

                        Lorem ipsum text
                    </p>
                </div>

                <div class="header-text">
                    <p> <img src="image\ic-check.png" alt=""> Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                    <p> <img src="image\ic-check.png" alt=""> Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                    <p> <img src="image\ic-check.png" alt=""> Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                </div>


            </div>

        </div>

        <div class="row">
            <div class="col text-center">

                <a asp-controller="Customer" asp-action="BookService"><button class="header-book-button">Let’s Book a Cleaner</button></a>
            </div>
        </div>


        <div class="row header-process-container">

            <div class="col-md process-card">

                <img src="~/image/step-1.png" class="img-fluid" alt="...">
                <br>
                <p class="process-card-text">Enter your postcode</p>

            </div>

            <div class="col-md d-none d-lg-block process-card">

                <img src="~/image/step-arrow-1.png" class="img-fluid" alt="...">
                <br>


            </div>

            <div class="col-md process-card">

                <img src="~/image/step-2.png" class="img-fluid" alt="...">
                <br>
                <p class="process-card-text">Select your plan</p>

            </div>

            <div class="col-md d-none d-lg-block process-card">

                <img src="~/image/step-arrow-1-copy.png" class="img-fluid" alt="...">
                <br>


            </div>

            <div class="col-md process-card">

                <img src="~/image/step-3.png" class="img-fluid" alt="...">
                <br>
                <p class="process-card-text">Pay securely online</p>

            </div>

            <div class="col-md d-none d-lg-block process-card">

                <img src="~/image/step-arrow-1.png" class="img-fluid" alt="...">
                <br>


            </div>

            <div class="col-md process-card">

                <img src="~/image/step-4.png" class="img-fluid" alt="...">
                <br>
                <p class="process-card-text">Enjoy amazing service</p>

            </div>








        </div>

        <br>
        <br>

        <div class="row">
            <div class="col text-center">

                <img src="~/image/down-custome-new.png" class="img-fluid down-arrow" alt="...">


            </div>
        </div>


    </div>










    <!--Why section-->

    <div class="container-fluid">

        <div class="why-title">
            <p>Why Helperland</p>
        </div>

        <div class="row why-row">

            <div class="col why-card">
                <img src="~/image/helper-img-1.png" class="img-fluid why-card-image">
                <p class="why-card-text-big">
                    Experience & Vetted Professionals
                </p>
                <p class="why-card-text-small">
                    dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers
                    exceptional results.

                </p>

            </div>

            <div class="col why-card">
                <img src="~/image/group-23.png" class="img-fluid why-card-image">
                <p class="why-card-text-big">
                    Secure Online Payment
                </p>


                <p class="why-card-text-small">

                    Payment is processed securely online. Customers pay safely online and manage the booking.
                </p>

            </div>

            <div class="col why-card">
                <img src="~/image/group-24.png" class="img-fluid why-card-image">
                <p class="why-card-text-big">
                    Dedicated Customer Service
                </p>
                <p class="why-card-text-small">
                    to our customers and are guided in all we do by their needs. The team is always happy to support you and offer
                    all the information.

                </p>

            </div>

        </div>




    </div>

    <!--why section ends-->
    <!--Blog section starts-->




    <div class="container-fluid">

        <div class="row">

            <div class="col-md-1 d-none d-lg-block">
                <img src="~/image/blog-left-bg.png" class="img-fluid">

            </div>

            <div class="col-md-10">

                <div class="row photo-row">
                    <div class="col-md-8">
                        <p class="photo-text-big">
                            Lorem ipsum dolor sit amet,<br> consectetur

                        </p>
                        <p class="photo-text-small">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero.
                            <br>
                            Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae.
                            Nullam finibus aliquet pharetra. Morbi in sem dolor.
                            Integer pretium hendrerit ante quis vehicula.
                            <br>
                            Mauris consequat ornare enim, sed lobortis quam ultrices sed.

                        </p>

                    </div>
                    <div class="col-md-4">
                        <img src="~/image/group-36.png" class="img-fluid">
                    </div>

                </div>



                <div class="blog-title">
                    <p>Our Blog</p>
                </div>

                <div class="row blog-row">
                    <div class="col blog-card">
                        <img src="~/image/group-28.png" class="img-fluid blog-card-image">
                        <p class="blog-card-title">
                            Lorem ipsum dolor sit amet
                        </p>
                        <p class="blog-card-date">
                            January 28, 2019

                        </p>
                        <p class="blog-card-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.


                        </p>
                        <p class="blog-card-link">
                            Read the Post

                            <img src="~/image/shape-2.png" class="img-fluid">

                        </p>


                    </div>

                    <div class="col blog-card">
                        <img src="~/image/group-29.png" class="img-fluid blog-card-image">
                        <p class="blog-card-title">
                            Lorem ipsum dolor sit amet
                        </p>
                        <p class="blog-card-date">
                            January 28, 2019

                        </p>
                        <p class="blog-card-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.


                        </p>
                        <p class="blog-card-link">
                            Read the Post

                            <img src="~/image/shape-2.png" class="img-fluid">

                        </p>


                    </div>

                    <div class="col blog-card">
                        <img src="~/image/group-30.png" class="img-fluid blog-card-image">
                        <p class="blog-card-title">
                            Lorem ipsum dolor sit amet
                        </p>
                        <p class="blog-card-date">
                            January 28, 2019

                        </p>
                        <p class="blog-card-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.


                        </p>
                        <p class="blog-card-link">
                            Read the Post

                            <img src="~/image/shape-2.png" class="img-fluid">

                        </p>


                    </div>
                </div>

            </div>

            <div class="col-md-1 d-none d-lg-block">

                <img src="~/image/blog-right-bg.png" class="img-fluid">

            </div>


        </div>

    </div>

    <!--Blog section ends-->
    <!--customer section starts-->

    <div class="container-fluid customer-container">
        <div class="customer-title">
            <p>What Our Customers Say</p>
        </div>

        <div class="row customer-row">
            <div class="col customer-card">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/image/group-31.png" class="img-fluid customer-card-image">

                    </div>
                    <div class="col-sm-6">
                        <p class="customer-card-name">Lary Watson</p>
                        <p class="customer-card-city">Manchester</p>


                    </div>
                    <div class="col-sm-2">
                        <img src="~/image/message.png" class="img-fluid customer-card-image">

                    </div>

                </div>


                <p class="customer-card-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
                    metus pulvinar aliquet consequat. Praesent nec malesuada nibh.
                    <br>
                    <br>
                    Nullam et metus congue, auctor augue sit amet, consectetur tortor.


                </p>
                <p class="customer-card-link">
                    Read the Post

                    <img src="~/image/shape-2.png" class="img-fluid">

                </p>


            </div>

            <div class="col customer-card">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/image/group-32.png" class="img-fluid customer-card-image">

                    </div>
                    <div class="col-sm-6">
                        <p class="customer-card-name">John Smith</p>
                        <p class="customer-card-city">Manchester</p>


                    </div>
                    <div class="col-sm-2">
                        <img src="~/image/message.png" class="img-fluid customer-card-image">

                    </div>

                </div>


                <p class="customer-card-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
                    metus pulvinar aliquet consequat. Praesent nec malesuada nibh.
                    <br><br>
                    Nullam et metus congue, auctor augue sit amet, consectetur tortor.


                </p>
                <p class="customer-card-link">
                    Read the Post

                    <img src="~/image/shape-2.png" class="img-fluid">

                </p>


            </div>

            <div class="col customer-card">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/image/group-33.png" class="img-fluid customer-card-image">

                    </div>
                    <div class="col-sm-6">
                        <p class="customer-card-name">Lars Johnson</p>
                        <p class="customer-card-city">Manchester</p>


                    </div>
                    <div class="col-sm-2">
                        <img src="~/image/message.png" class="img-fluid customer-card-image">

                    </div>

                </div>


                <p class="customer-card-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
                    metus pulvinar aliquet consequat. Praesent nec malesuada nibh.
                    <br><br>
                    Nullam et metus congue, auctor augue sit amet, consectetur tortor.


                </p>
                <p class="customer-card-link">
                    Read the Post

                    <img src="~/image/shape-2.png" class="img-fluid">

                </p>


            </div>



        </div>

        <div class="row contact-row">

            <div class="col-sm-2 contact-col-top">
                <img src="~/image/top-arrow.png" class="img-fluid contact-col-top-image">


            </div>
            <div class="col-sm-8 contact-col-email">
                <p class="contact-text">
                    GET OUR NEWSLETTER
                </p>

                <div class="row ">
                    <div class="col-sm-7 contact-email-col">
                        <input class="contact-email-textbox" placeholder="  YOUR EMAIL">
                    </div>
                    <div class="col-sm-5 contact-submit-col">
                        <button class="contact-submit-button">submit</button>

                    </div>

                </div>



            </div>

            <div class="col-sm-2 contact-col-faq contact-col-faq-image">
                <img src="~/image/layer-598.png" class="img-fluid">

            </div>

        </div>



    </div>


    <!--customer section ends-->
    <!--footer-->

    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-sm-3 footer-logo-col">
                <img src="~/image/footer-logo.png" class="img-fluid footer-logo-image">


            </div>
            <div class="col-sm-6 footer-nav-col">

                <a class="footer-nav-link ">HOME</a>
                <a class="footer-nav-link" href="Public/about">ABOUT</a>
                <a class="footer-nav-link ">TESTIMONIALS</a>
                <a class="footer-nav-link " href="Public/faq">FAQ</a>
                <a class="footer-nav-link ">INSURANCE</a>
                <a class="footer-nav-link ">IMPRESSUM</a>




            </div>
            <div class="col-sm-3 footer-social-col">

                <img src="~/image/ic-facebook.png" class="img-fluid footer-social-image">
                <img src="~/image/ic-instagram.png" class="img-fluid footer-social-image">





            </div>
        </div>
    </div>



    <!--footer ends-->
    <!--Privacy start-->

    <div class="row privacy-row">
        <div class="col-sm-9 privacy-text-col">
            <p class="privacy-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc libero, ac malesuada ligula aliquam ac.
                <a>Privacy Policy</a>

            </p>

        </div>
        <div class="col-sm-3 privacy-button-col">
            <button class="privacy-button">
                OK!
            </button>

        </div>
    </div>
    <!--privacy ends-->
    @await Html.PartialAsync("loginpopup")
    @await Html.PartialAsync("ForgetPwd")
    @await Html.PartialAsync("logout")



    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <script>
        const url = new URLSearchParams(window.location.search);
        if (url == "loginModal=true" || url == "loginFail=true") {
            document.getElementById("login-nav-link").click();
        }
        if (url == "mailSended=true") {
          document.getElementById("mailSendedbtn").click();
        }
        if (url == "logoutModal=true") {
           document.getElementById("logoutBtn").click();

        }
    </script>




</body>
</html>
