@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}










  

  <!--Why section-->

  <div class="container-fluid">

    <div class="why-title">
      <p>Why Helperland</p>
    </div>

    <div class="row why-row">

      <div class="col why-card">
        <img src="image/helper-img-1.png" class="img-fluid why-card-image">
        <p class="why-card-text-big">
          Experience & Vetted Professionals
        </p>
        <p class="why-card-text-small">
          dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers
          exceptional results.

        </p>

      </div>

      <div class="col why-card">
        <img src="image/group-23.png" class="img-fluid why-card-image">
        <p class="why-card-text-big">
          Secure Online Payment
        </p>


        <p class="why-card-text-small">

          Payment is processed securely online. Customers pay safely online and manage the booking.
        </p>

      </div>

      <div class="col why-card">
        <img src="image/group-24.png" class="img-fluid why-card-image">
        <p class="why-card-text-big">
          Dedicated Customer Service
        </p>
        <p class="why-card-text-small">
          to our customers and are guided in all we do by their needs. The team is always happy to support you and offer
          all the information.

        </p>

      </div>

    </div>




  </div>

  <!--why section ends-->

  <!--Blog section starts-->




  <div class="container-fluid">

    <div class="row">

      <div class="col-md-1 d-none d-lg-block">
        <img src="image/blog-left-bg.png" class="img-fluid">

      </div>

      <div class="col-md-10">

        <div class="row photo-row">
          <div class="col-md-8">
            <p class="photo-text-big">Lorem ipsum dolor sit amet,<br> consectetur

            </p>
            <p class="photo-text-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero.
              <br>
              Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae.
              Nullam finibus aliquet pharetra. Morbi in sem dolor.
              Integer pretium hendrerit ante quis vehicula.
              <br>
              Mauris consequat ornare enim, sed lobortis quam ultrices sed.

            </p>

          </div>
          <div class="col-md-4">
            <img src="image/group-36.png" class="img-fluid">
          </div>

        </div>



        <div class="blog-title">
          <p>Our Blog</p>
        </div>

        <div class="row blog-row">
          <div class="col blog-card">
            <img src="image/group-28.png" class="img-fluid blog-card-image">
            <p class="blog-card-title">
              Lorem ipsum dolor sit amet
            </p>
            <p class="blog-card-date">
              January 28, 2019

            </p>
            <p class="blog-card-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.


            </p>
            <p class="blog-card-link">
              Read the Post

              <img src="image/shape-2.png" class="img-fluid">

            </p>


          </div>

          <div class="col blog-card">
            <img src="image/group-29.png" class="img-fluid blog-card-image">
            <p class="blog-card-title">
              Lorem ipsum dolor sit amet
            </p>
            <p class="blog-card-date">
              January 28, 2019

            </p>
            <p class="blog-card-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.


            </p>
            <p class="blog-card-link">
              Read the Post

              <img src="image/shape-2.png" class="img-fluid">

            </p>


          </div>

          <div class="col blog-card">
            <img src="image/group-30.png" class="img-fluid blog-card-image">
            <p class="blog-card-title">
              Lorem ipsum dolor sit amet
            </p>
            <p class="blog-card-date">
              January 28, 2019

            </p>
            <p class="blog-card-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.


            </p>
            <p class="blog-card-link">
              Read the Post

              <img src="image/shape-2.png" class="img-fluid">

            </p>


          </div>
        </div>

      </div>

      <div class="col-md-1 d-none d-lg-block">

        <img src="image/blog-right-bg.png" class="img-fluid">

      </div>


    </div>

  </div>

  <!--Blog section ends-->



  <!--customer section starts-->

  <div class="container-fluid customer-container">
    <div class="customer-title">
      <p>What Our Customers Say</p>
    </div>

    <div class="row customer-row">
      <div class="col customer-card">
        <div class="row">
          <div class="col-sm-4">
            <img src="image/group-31.png" class="img-fluid customer-card-image">

          </div>
          <div class="col-sm-6">
            <p class="customer-card-name">Lary Watson</p>
            <p class="customer-card-city">Manchester</p>


          </div>
          <div class="col-sm-2">
            <img src="image/message.png" class="img-fluid customer-card-image">

          </div>

        </div>


        <p class="customer-card-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
          metus pulvinar aliquet consequat. Praesent nec malesuada nibh.
          <br>
          <br>
          Nullam et metus congue, auctor augue sit amet, consectetur tortor.


        </p>
        <p class="customer-card-link">
          Read the Post

          <img src="image/shape-2.png" class="img-fluid">

        </p>


      </div>

      <div class="col customer-card">
        <div class="row">
          <div class="col-sm-4">
            <img src="image/group-32.png" class="img-fluid customer-card-image">

          </div>
          <div class="col-sm-6">
            <p class="customer-card-name">John Smith</p>
            <p class="customer-card-city">Manchester</p>


          </div>
          <div class="col-sm-2">
            <img src="image/message.png" class="img-fluid customer-card-image">

          </div>

        </div>


        <p class="customer-card-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
          metus pulvinar aliquet consequat. Praesent nec malesuada nibh.
          <br><br>
          Nullam et metus congue, auctor augue sit amet, consectetur tortor.


        </p>
        <p class="customer-card-link">
          Read the Post

          <img src="image/shape-2.png" class="img-fluid">

        </p>


      </div>

      <div class="col customer-card">
        <div class="row">
          <div class="col-sm-4">
            <img src="image/group-33.png" class="img-fluid customer-card-image">

          </div>
          <div class="col-sm-6">
            <p class="customer-card-name">Lars Johnson</p>
            <p class="customer-card-city">Manchester</p>


          </div>
          <div class="col-sm-2">
            <img src="image/message.png" class="img-fluid customer-card-image">

          </div>

        </div>


        <p class="customer-card-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
          metus pulvinar aliquet consequat. Praesent nec malesuada nibh.
          <br><br>
          Nullam et metus congue, auctor augue sit amet, consectetur tortor.


        </p>
        <p class="customer-card-link">
          Read the Post

          <img src="image/shape-2.png" class="img-fluid">

        </p>


      </div>



    </div>

    <div class="row contact-row">

      <div class="col-sm-2 contact-col-top">
        <img src="image/top-arrow.png" class="img-fluid contact-col-top-image">


      </div>
      <div class="col-sm-8 contact-col-email">
        <p class="contact-text">
          GET OUR NEWSLETTER
        </p>

        <div class="row ">
          <div class="col-sm-7 contact-email-col">
            <input class="contact-email-textbox" placeholder="  YOUR EMAIL">
          </div>
          <div class="col-sm-5 contact-submit-col">
            <button class="contact-submit-button">submit</button>

          </div>

        </div>



      </div>

      <div class="col-sm-2 contact-col-faq contact-col-faq-image">
        <img src="image/layer-598.png" class="img-fluid">

      </div>

    </div>



  </div>

  <!--customer section ends-->

 
