@section Custom
{
 <link rel="stylesheet" href="~/css/style.css">



}



   



    <!--image-->
    <img src="~/image/group-18.png" class="img-fluid faq-image">
    <!--image ends-->

    <!--prices section starts -->

    <div class="container-fluid price-price-container">


        <div class="price-content-title">
            <p class="price-content-title-text">
                Price
            </p>
            <img src="~/image/faq-seprator.PNG" class="img-fluid price-content-seprator">


        </div>



        <div class="price-box">


            <div class="price-box-title">
                One time
            </div>
            <br>

            <p style="color: #646464; font-size: 35px; font-family: 'Roboto', sans-serif;"> € 20/hr </p>
            <br>

            <div style="text-align: left; margin-left: 25%;">


                <p class="price-price-box-check-points"><img class="img-fluid"src="~/image/forma-1_5.png">
                    Lower prices</p>

                <p class="price-price-box-check-points"><img class="img-fluid"src="~/image/forma-1_5.png">
                    Easy online & secure payment</p>

                <p class="price-price-box-check-points"><img class="img-fluid"src="~/image/forma-1_5.png">
                    Easy amendment</p>

            </div>




        </div>

        <br><br>

        <div class="price-extra-service">
            <hr>

            <div class="price-content-title">
                <p class="price-content-title-text">
                    Extra services
                </p>
                <img src="~/image/faq-seprator.PNG" class="img-fluid price-content-seprator">


            </div>
            <br>

            <div class="row">
                <div class="col price-extra-service-card">

                    <img class="img-fluid price-extra-service-card-image"src="~/image/1-b.png">
                    <br>
                    <p class="price-extra-service-card-text-simple">
                        Inside cabinets
                    </p>
                    <p class="price-extra-service-card-text-bold">
                        30 minutes

                    </p>


                </div>

                <div class="col price-extra-service-card">

                    <img class="img-fluid price-extra-service-card-image"src="~/image/2-b.png">
                    <br>
                    <p class="price-extra-service-card-text-simple">
                        Inside fridge
                    </p>
                    <p class="price-extra-service-card-text-bold">
                        30 minutes

                    </p>


                </div>
                <div class="col price-extra-service-card">

                    <img class="img-fluid price-extra-service-card-image"src="~/image/3-b.png">
                    <br>
                    <p class="price-extra-service-card-text-simple">
                        Inside oven
                    </p>
                    <p class="price-extra-service-card-text-bold">
                        30 minutes

                    </p>


                </div>
                <div class="col price-extra-service-card">

                    <img class="img-fluid price-extra-service-card-image"src="~/image/4-b.png">
                    <br>
                    <p class="price-extra-service-card-text-simple">
                        Laundry wash & dry
                    </p>
                    <p class="price-extra-service-card-text-bold">
                        30 minutes

                    </p>


                </div>

                <div class="col price-extra-service-card">

                    <img class="img-fluid price-extra-service-card-image"src="~/image/5-b.png">
                    <br>
                    <p class="price-extra-service-card-text-simple">
                        Interior windows
                    </p>
                    <p class="price-extra-service-card-text-bold">
                        30 minutes

                    </p>


                </div>
            </div>


        </div>
        <br><br><br>

    </div>

    <!--prices section ends -->


    <!--prices include starts-->

    <div class="container-fluid price-include-container">
        <br><br>
        <div class="price-content-title" >
            <p class="price-content-title-text">
                What we include in cleaning
            </p>
            <img src="~/image/faq-seprator.PNG" class="img-fluid price-content-seprator">


        </div>
        <br>


        <div class="row price-include-row">
            <div class=" col price-include-card">

                <img src="~/image/group-18_3.png" class="price-include-card-image">
                <br><br>
                <div style="text-align: left;">

                    <p class="price-include-card-text-bold">

                        Bedroom and Living Room
                    </p>

                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">

                        Dust all accessible surfaces


                    </p>

                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">

                        Wipe down all mirrors and glass fixtures


                    </p>
                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">

                        Clean all floor surfaces

                    </p>
                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">

                        Take out garbage and recycling

                    </p>

                </div>




            </div>

            <div class=" col price-include-card">

                <img src="~/image/group-18_4.png" class="price-include-card-image">

                <br><br>
                <div style="text-align: left;">

                    <p class="price-include-card-text-bold">

                        Bathrooms
                    </p>

                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">

                        Wash and sanitize the toilet, shower, tub, sink


                    </p>

                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">

                        Dust all accessible surfaces


                    </p>
                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">

                        Wipe down all mirrors and glass fixtures


                    </p>
                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">

                        Clean all floor surfaces


                    </p>
                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">
                        Take out garbage and recycling

                    </p>
                </div>


            </div>

            <div class=" col price-include-card">

                <img src="~/image/group-18_2.png" class="price-include-card-image">
                <br><br>
                <div style="text-align: left;">

                    <p class="price-include-card-text-bold">

                        Kitchen
                    </p>

                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">

                        Dust all accessible surfaces

                    </p>

                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">

                        Empty sink and load up dishwasher

                    </p>
                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">

                        Wipe down exterior of stove, oven and fridge

                    </p>
                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">

                        Clean all floor surfaces

                    </p>
                    <p class="price-include-card-text-simple">
                        <img src="~/image/right-arrow.png" class="img-fluid">
                        Take out garbage and recycling

                    </p>
                </div>






            </div>
        </div>



    </div>
    <br><br>

    <!--prices include ends-->


    <!--price why section starts-->

    <div class="container-fluid price-why-container">

        <div class="price-content-title">
            <p class="price-content-title-text">
                Why Helperland
            </p>
            <img src="~/image/faq-seprator.PNG" class="img-fluid price-content-seprator">


        </div>

        <div class="row">
            <div class="col-md-4" style="text-align: right;">
                <p class="price-include-card-text-bold">
                    Experienced and vetted professionals
                </p>
                <p class="price-include-card-text-simple">
                    dominate the industry in scale and scope with an adaptable,
                    extensive network that consistently delivers exceptional results.
                </p>

                <br>

                <p class="price-include-card-text-bold">
                    Dedicated customer service
                </p>
                <p class="price-include-card-text-simple">
                    to our customers and are guided in all we do by their needs.
                    The team is always happy to support you and offer all the information. you need.
                </p>



            </div>

            <div class="col-md-4 price-why-center">

                <img src="~/image/the-best-img-1.png" class="img-fluid">

            </div>


            <div class="col-md-4  price-why-rigth" style="text-align: left;">

                <p class="price-include-card-text-bold">
                    Every cleaning is insured
                </p>
                <p class="price-include-card-text-simple">
                    and seek to provide exceptional service and engage in proactive behavior.
                    We‘d be happy to clean your homes.
                </p>

                <br><br>

                <p class="price-include-card-text-bold">
                    Secure online payment
                </p>
                <p class="price-include-card-text-simple">
                    Payment is processed securely online. Customers pay safely online and manage the booking.
                </p>


            </div>
        </div>

    </div>
    <!--price why section ends-->



   



