  
  html,body
  {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 

      color: #646464;
      font-size: 16px; 
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      
  
     
  }
      
      
    
    

/*Home page*/



/*header*/




.header-container{
    
    
  

    background-image: url("image/LandingPagebackgroundimage.png");
    
    height: auto;
   
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
   
}
.home-navbar-brand{
    margin-top: 10px;
   margin-left: 17px;
    max-width: 175px;
    max-height: 130px;
}
.home-navbar-nav{
  margin-top: 5px;
  margin-bottom: 65px;

}
.home-nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
   letter-spacing: 0px;
   color: #FFFFFF;
opacity: 1;
margin: 5px;
}


.nav-link-book-a-cleaner{
   
    width: 161px;
    height: 40px;
    background: #00607200 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
}

.nav-link-login{


width: 97px;
height: 40px;
background: #FFFFFF00 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF80;
border-radius: 20px;
opacity: 1;
}

.nav-link-become-a-helper{
    

width: 161px;
height: 40px;
background: #FFFFFF00 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF80;
border-radius: 20px;
opacity: 1;
}

.header-text-container{

    margin-left: 55px;
    margin-top: 178px;

}

.header-title{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
   
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.header-text{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 27px;
}

.header-book-button{
    width: 225px;
height: 54px;
border: 1px solid #FFFFFF;
border-radius: 27px;
opacity: 1;
background-color:teal;
opacity: 40%;
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: white;
}

.header-process-container{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;

}

.process-card{
    

    max-height: 119px;
    text-align: center;
    
     margin: 2px;
}
.process-card-text{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 100%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.down-arrow{
    max-height: 55px;
    margin-bottom: 2%;
}




/*Why section*/

.why-title{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 82.5px;
}

.why-row{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 169px;
}
.why-card{
    margin: 2%;
}
.why-card-image{
    max-height: 300px;
}



.why-card-text-big{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.why-card-text-small{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
}


.photo-row{
   
    margin-bottom: 50px;
}

.photo-text-big{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-align: left;
    margin-right: 10%;
}
.photo-text-small{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    text-align: left;
    margin-right: 10%;
}


/*Blog*/

.blog-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.blog-card{
    margin: 2%;
    box-shadow: 0px 0px 30px #E4EBF0;
    border-radius: 4px;
    opacity: 1;
}
.blog-card-image{
    max-height: 164px;
}
.blog-card-title{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;

}
.blog-card-date{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 13px;
   
}
.blog-card-content{

    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 16px;
    

}
.blog-card-link{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 18px;

}



/*customer*/

.customer-container{
    background: #F4F5F8
}

.customer-title{
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.customer-row{
    margin-left: 10%;
    margin-right: 10%;
    

}
.customer-card{
    margin: 2%;
    
    border-left: solid green;
    opacity: 1;
    background-color: white;
   color: #565656;
   box-shadow: 0px 0px 30px #E4EBF0;
   margin: 2%;
   padding: 2%;
}
.customer-card-image{
    max-height: 70px;
}
.customer-card-name{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 24px;
    font-weight: bolder;

}
.customer-card-city{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 13px;
    margin-top: -20px;
    color: #8E8E8E;
   
}
.customer-card-content{

    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 16px;
    

}
.blog-card-link{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 18px;

}



.contact-row{
    margin-top: 3%;
    padding-bottom: 2%;
}

.contact-col-top{
    
    text-align: center;
    

}
.contact-col-email{
    text-align: center;

}
.contact-col-faq{
    text-align: center;

}
.contact-text{
    font-family: 'Roboto', sans-serif;
    
    font-size: 17.99px;
    font-weight: bold;


}
.contact-email-col{
    text-align: right;
}
.contact-submit-col{
    text-align: left;
}


.contact-col-top-image{
    max-height: 48px;
    

}

.contact-col-faq-image{
    max-height: 63px;

}

.contact-email-textbox{
    background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;


}
.contact-submit-button{
    background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
color: white;
border-color:  #FF7B6D;
}




/*footer*/

.footer-container{
    background-color: black;
}
.footer-logo-col{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
.footer-nav-col{
    text-align: center;
    margin-top: 3%;
    
}
.footer-nav-link {
    color: white;
    font-size: 13.99;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-right: 2%;

}
.footer-social-col{
    text-align: center;
    margin-top: 3%;
}
.footer-social-image{
    margin-right: 2%;

}



.footer-logo-image{
    max-height: 92px;
}

/*privacy*/

.privacy-row{
    background: #292929;
    
    padding: 0.5%;
    

}

.privacy-text-col{
    text-align: right;
    margin-top: 0.5%;
    
}

.privacy-text{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.privacy-button{
    background: #EED507 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
height: 40px;
width: 99px;
}


/*FAQ*/



/*nav bar*/

.faq-navbar{
    background: #525252 0% 0% no-repeat padding-box;
opacity: 0.8;


  
}


.faq-navbar-brand{
   top: 6px;
left: 15px;
width: 73px;
height: 54px;
}

.faq-nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
   margin: 3px;
   text-decoration: none;
}


.faq-nav-link-border{
   
   
    background: #29626D;
    border: 1px solid #FFFFFF80;
    
    border-radius: 20px;
    opacity: 1;
   text-decoration: none;
   margin: 3px;
   
   
}

/*image*/

.faq-image{
    max-height: 370px;
}


/*content*/



.faq-content-container-child{
    text-align: center;
   
   margin-left: 17%;
    margin-right: 17%;
    
    
}

.faq-content-title-text{
    color: #4F4F4F;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;

}
.faq-content-seprator{
    max-height: 50px;
    margin-top: -25px;
   
}
.faq-content-title-intro{
    color: #4F4F4F;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    
    text-align: center;
    

}




.content-toggle-button-text{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    
    

}
.content-toggle-on-col{
    background-color: #29626D; 
    color: white;

}
.content-toggle-off-col{
    background-color: white;
    color: black;

}

.faq-content-bullets-bold{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #646464;
    text-align: left;
    
}
.faq-content-bullets-ligth{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    
    color: #646464;
    text-align: left;
    
}
.faq-privacy-text{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    
    color: white;
    text-align: center;
    

}



/*faq ends*/



/*Price*/

.price-navbar{
    background: #525252 0% 0% no-repeat padding-box;
opacity: 0.8;
 
}


.price-navbar-brand{
   top: 6px;
left: 15px;
width: 73px;
height: 54px;
}

.price-nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
   margin: 3px;
   text-decoration: none;
}


.price-nav-link-border{
   
   
    background: #29626D;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
   text-decoration: none;
   margin: 3px;
   
   
}

/*image*/

.price-image{
    max-height: 370px;
}


/* price section*/

.price-price-container{
    text-align: center;
}

.price-content-title-text{
    color: #4F4F4F;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    font-weight: bold;

}
.price-content-seprator{
    max-height: 50px;
    margin-top: -25px;
   
}


.price-box{
    margin-left: 32%;
    margin-right: 32%;
    border: 1px solid #B0C9CE;
}


.price-box-title{
    background-color: #1D7A8C;
   
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.price-price-box-check-points{
    color: #646464;
     font-size: 16px; 
     font-family: 'Roboto', sans-serif;
}


.price-extra-service{
    margin-left: 12%;
    margin-right: 12%;
}

.price-extra-service-card{
    max-width: 370px;
    max-height: 480px;
}
.price-extra-service-card-image{
    max-width: 108px;
    max-height: 108px;
   
}

.price-extra-service-card-text-simple{
    color: #646464;
     font-size: 16px; 
     font-family: 'Roboto', sans-serif;


}
.price-extra-service-card-text-bold{
    color: #646464;
     font-size: 16px; 
     font-family: 'Roboto', sans-serif;
     font-weight: bold;
     margin-top: -3%;

}

/*what we include*/

.price-include-container{
    background-color: #F6F6F6;
    text-align: center;
}

.price-include-row{
    margin-left: 10%;
    margin-right: 10%;
}

.price-include-card{
    display: inline;
}

.price-include-card-text-simple{
    color: #646464;
     font-size: 16px; 
     font-family: 'Roboto', sans-serif;


}
.price-include-card-text-bold{
    color: #646464;
     font-size: 20px; 
     font-family: 'Roboto', sans-serif;
     font-weight: bold;
     

}


/*why section*/

.price-why-container{
    
    text-align: center;
    
    max-width: 1045px;
    
    
}


/*Contact us*/

.contact-contactus-container{

    text-align: center;


}
.contact-contactus-card-container{
    margin-left: 15%;
    margin-right: 15%;

}

.contact-contactus-card{
    margin-left: 5%;
    margin-right: 5%;

}

.contact-hr{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 3%;
}


/*form section*/

.contact-form-container{

    text-align: center;
    max-width: 612px;
    

}
.contact-form-title{
    text-align: center;

    color: #4F4F4F;
    font-size: 28px; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    

}



/*About page*/

.about-content-text{
    text-align: center;

    color: #4F4F4F;
    font-size: 16px; 
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
   
    

}

.about-content-container{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;

}











